{% extends 'base.html.twig' %}

{% block title %} Annonce {% endblock %}
{% form_theme form "ad/form_new_edit.html.twig" %}

{% block body %}

     <div class="container">
     <h1> Créer une nouvelle annonce</h1>

     {{ form_start(form) }}

     
     {{ form_widget(form) }}
     <button type="submit" class= "btn btn-primary">Créer la nouvelle annonce </button>

     {{ form_end(form) }}
     </div>

{% endblock %}

{% block javascripts %}
  <script src="/js/ad.js">  </script>

{% endblock %}

