
        <footer class="mt-5 bg-dark py-5 text-center">
            <div class="social-media__container">
            <p></p>
                <a href=""><img src="{{ asset('Vector.png') }}" alt=""></a>
                <a href=""><img src="{{ asset('facebook.png') }}" alt=""></a>
                <p> Copyright</p>
            </div>
                <h2>Ayt'Place</h2>
                <span>France</span>
          
        </footer>
        