

{% extends 'base.html.twig' %}
{% block title %}
Welcome!
{% endblock %}


{% block header %}
voici le header
{% endblock %}

{% block body %}
<div class="container">
    <div class="jumbotron mt-3">
  <h1 class="display-3">Bienvenue sur Ayt'place</h1>
  <p class="lead">A la recherche d'un lieu prestigieux nous sommes là pour vous mettre en relation avec les propriétaire de lieux d'exception  </p>
     <hr class="my-4">
  <p>Vous êtes propriétaire et souhaitez mettre à disposition votre bien  inscrivez-vous   .</p>
  <p class="lead">
    <a class="btn btn-primary btn-sm" href="#" role="button">Inscrivez vous</a>
  </p>
     <h2 class="h1 my-5">Nos appartements stars</h2>
     <div class="row mt-4">
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                     3 chambres,<strong>49&euro; /nuit</strong> <br>
                     <small> Pas encore noté</small>
                </div>


                <img src="http://placehold.it/1000x400" alt="Image de l'apparteement" style="height: 200px; width:100%; display: block">

                <div class="card-body">
                   <h4 class="card-title">Chateau</h4>
                       <p class="card-text">
                       Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                       Quae, labore quo. Velit laudantium accusantium aspernatur quasi quis nihil dolorem quaerat.


                      </p>
                      <a href="" class="btn secondary">En savoir plus </a>

                
                </div>
            
            </div>
        
        </div>
     
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                     3 chambres,<strong>49&euro; /nuit</strong> <br>
                     <small> Pas encore noté</small>
                </div>


                <img src="http://placehold.it/1000x400" alt="Image de l'apparteement" style="height: 200px; width:100%; display: block">

                <div class="card-body">
                   <h4 class="card-title">Chateau</h4>
                       <p class="card-text">
                       Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                       Quae, labore quo. Velit laudantium accusantium aspernatur quasi quis nihil dolorem quaerat.


                      </p>
                      <a href="" class="btn secondary">En savoir plus </a>

                
                </div>
            
            </div>
        
        </div>
           <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                     3 chambres,<strong>49&euro; /nuit</strong> <br>
                     <small> Pas encore noté</small>
                </div>


                <img src="http://placehold.it/1000x400" alt="Image de l'apparteement" style="height: 200px; width:100%; display: block">

                <div class="card-body">
                   <h4 class="card-title">Chateau</h4>
                       <p class="card-text">
                       Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                       Quae, labore quo. Velit laudantium accusantium aspernatur quasi quis nihil dolorem quaerat.


                      </p>
                      <a href="" class="btn secondary">En savoir plus </a>

                
                </div>
            
            </div>
        
        </div>
     
     
     </div>
     
     <div class="card-text">
       </div>


   </div>

</div>   
{% endblock %}
