

{% extends 'base.html.twig' %}
{% block title %}
Welcome!
{% endblock %}


{% block header %}
voici le header
{% endblock %}

{% block body %}
<div class="container">
    <div class="jumbotron mt-3">
  <h1 class="display-3">Bienvenue sur Ayt'place</h1>
  <p class="lead">A la recherche d'un lieu prestigieux nous sommes là pour vous mettre en relation avec les propriétaire de lieux d'exception  </p>
     <hr class="my-4">
  <p>Vous êtes propriétaire et souhaitez mettre à disposition votre bien  inscrivez-vous   .</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
     <h2 class="h1 my-5">Nos appartements stars</h2>
     
     <div class="card-text">
       </div>


   </div>

</div>   
{% endblock %}
