{% extends 'base.html.twig' %}

{% block title %}Ayt'place{% endblock %}

{% block body %}
<div class="container">

<h1 class="my-5">Voici les annonces de nos hôtes</h1>
  <div class="filter__container">
                <h4>Capacité</h4>
                <hr class="filter-line">
                <ul class="filter-list__container capacity">
                    <form action="#" method="post" id="filter-capacity">
                        <div class="col-3 filter__item">50 et moins <label class="container"><input type="checkbox" value="50"> <span class="checkmark"></span></label></div>
                        <div class="col-3 filter__item">50 à 100 <label  class="container"><input type="checkbox" value="100"> <span class="checkmark"></span></label></div>
                        <div class="col-3 filter__item">100 et plus <label  class="container"><input type="checkbox" value="101"> <span class="checkmark"></span></label></div>
                    </form>
                </ul>
            </div>
    <div class="row">
      {% for ad in ads %}
          {% include 'ad/_ad.html.twig' %}
    {% endfor %}
    
            </div>
        </div>   
    </div>
</div>
{% endblock %}
