
        <footer class="mt-5 bg-dark py-5 text-center">
            <div class="social-media__container">
            <p></p>
                <a href="https://twitter.com/AytPlace"><img src="{{ asset('Vector.png') }}" alt=""></a>
                <a href="https://www.instagram.com/ayt_place/"><img src="{{ asset('facebook.png') }}" alt=""></a>
                <p> Copyright</p>
            </div>
                <h2 class="logo.header">Ayt'Place</h2>
                <span>France</span>
          
        </footer>
        