
        <footer class=" footer logadmin bg-dark py-5 text-center">
            <div class="social-media__container">
            <p></p>
                <a href="https://twitter.com/AytPlace"><img src="{{ asset('Vector.png') }}" alt="https://twitter.com/AytPlace"></a>
                <a href=""><img src="{{ asset('facebook.png') }}" alt=""></a>
                <p> Copyright</p>
            </div>
                <h2 class="logo.header footer">Ayt'Place</h2>
                <span>France</span>
          
        </footer>
        